
.listaActividad{
    padding-top: 10px;
    padding-bottom:10px;
    background: #4d087a;
	background: -webkit-linear-gradient(to right, #4d087a, #417dff);
	background: linear-gradient(to right, #4d087a, #417dff);
    color: whitesmoke;
    border-radius:5px; 
    
    
}

.select{
    margin-left: 5px;
    border-radius: 8px;
    background-color:white;
    color :black;
    font-style: oblique;
    font-size: 15px;
}

.label{
    font-size: 20px;
    color: aqua;
}

th{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    font-weight: bold;
    
    
}

td{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
    
    
}

h1{
    color:white;
    text-align: center;
    
}

body {
	height: 100vh;
	
}


.divSelect{
    background: #4d087a;
	background: -webkit-linear-gradient(to right, rgb(0, 195, 255), rgb(250, 192, 255));
    background: linear-gradient(to right, rgb(0, 195, 255), rgb(250, 192, 255));
    margin-top: 5px;
    border-radius: 5px;
}


.btnVolver{
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 80%;
    background-color: #4b25a3;
    background: -webkit-linear-gradient(to right, #417dff, #d356df);
    background: linear-gradient(to right, #417dff, #d356df);
    font-size: 15px;
    font-weight: bold;
    padding: 5px 20px;
    letter-spacing: 1px;
    color: white;
    
}
.btnVolver:hover{
    color:rgb(52, 144, 206);
}
